<% title "Records" %>

<table>
  <tr>
    <th>Type</th>
    <th>Value</th>
    <th>Created At</th>
  </tr>
  <% for record in @records %>
    <tr>
      <td><%= record._type %></td>
      <td><%= record.value %></td>
      <td><%= record.created_at %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Record", new_record_path %></p>
